.container {
   background: rgba(119, 172, 241, 1);
   width: 100vw;
   min-height: 700px;
   height: 100vh;
   padding: 30px;
   display: flex;
   justify-content: center;
 }
 
.text {
  font-size: 96px;
  font-weight: 700;
  width: 50%;
  /* line-height: 80%; */
  color: #ffff;
}
.illustration {
  height: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}