.header {
    background-color: #77ACF1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 30px;
    color: #ffffff;
    padding: 20px 30px;
}
.logo {
    height: 37.7px;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
.button {
    background-color: #FFFFFF;
    color: #77ACF1;
    padding: 15px 20px;
    border-radius: 10px;
}
.burger {
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/burger.svg);
}
@media (max-width: 768px) {
  .contacts {
    width: 100%;
    justify-content: space-around;
  }
}