.step__number {
   position: absolute;
   z-index: 0;
   line-height: 91%;
   top: 0;
   left: 0;
   z-index: 0;
  font-weight: 800;
  font-size: 128px;
  color: #77ACF1;
 
}
.slideContainer{
   /* background-color: aquamarine; */
   /* height: 500px; */
   width: 100%;
   max-width: 1280px;
   /* margin: auto; */
   position: relative;
}

.block__content{
   /* max-width: 700px; */
   gap: 0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 500px;
   width: 100%;
}
.block{
   position: relative;
   display: flex;
   flex-direction: column;
   /* align-items:flex-start; */
   justify-content: center;
   /* min-height: 500px; */
   /* height: 100%; */
}

.illustration{
   margin: 1% auto;
   width: 50%;
   height: 30vh;
   border: 2px solid slategray;
}



.textContainer{
   width: 40vw;
   height: 30vh;
   margin: 1% auto;
   font-weight: 400;
   font-size: 20px;
}
.step__list {
   font-weight: 500;
   font-size: 24px;
   list-style: disc;
   padding-left: 10px;
}
.step__heading h2{
   position: relative;
   top: 43px;
   z-index: 1;
   font-weight: 600;
   font-size: 36px;
}
.step__paragraph {
   margin-bottom: 20px;
}
.chevron {
   height: 76px;
   width: 76px;
   background-image: url(../../../assets/svg/chevron.svg);
   background-color: #77ACF1;
   border-radius: 100%;
   background-position: center;
   background-size: 20%;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 0;
   right: 0;
}

@media (max-width: 768px) {
   .block__content {
      flex-direction: column;
   }
   .block__content > div {
      width: 100%;
   }
  .desktop {
    display: none;
  }
}