
.container {
  display: flex;
  position: relative;

  flex-direction: column;
}

.input {
  padding: .75em;

  background:  #77ACF1;

  font-size: .875rem;
  line-height: 1rem;
  color: white;

  border: .25em solid  white;
  

  &_error {
    border-color: red;
    color: red;

    &::placeholder {
      color: red;
    }
  }

  &:disabled {
    opacity: 50%;
    user-select: none;
    pointer-events: none;
  }
}

.eyeIcon {
  position: absolute;

  top: 12px;
  right: 15px;
}

.errorIcon {
  position: absolute;

  top: 10px;
  right: -30px;

  transition: .3s all ease;
  
  &:hover:after {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease .3s;
  }
  
  &:after {
    position: absolute;
  
    min-width: 9rem;
    padding: .7rem;
    
    background-color: white;    
    
    color: $color-error;
    font-size: 1rem;
    text-align: center;
    
    content: attr(data-title);
    visibility: hidden;
  }
}
