.container {
  display: flex;
  background: rgba(119, 172, 241, 1);
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
 .logo{
  margin-top: 5vh;
  width: 20vw;
  height: 20vh;
  border: solid 1px #FFFFFF;
 }

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.divButton{
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
.twoDiv{
  align-items: center;
  margin:2vh 5vw;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  color: #ffffff;
}

.button{
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border: 0;
  font-size: larger;
  width: 152px;
  height: 54px;
  color: #77ACF1;
  background: #FFFFFF;
  border-radius: 10px;
}

input {
  outline-color: #5f9ef0;
  background-color:  #77ACF1;
  color: white;
  border: solid 1px white;
  padding: 10px 20px;

}

textarea {
  outline-color: #5f9ef0;
  color: white;
  width: 100%;
  height: 30vh;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #77ACF1;
  resize: none;
  font-size: larger;
}
::placeholder {
  color:white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #5f9ef0 inset;
  transition: background-color 5000s ease-in-out 0s;
}
