$color-primary: #77ACF1;
$color-additional: #0C4A69;
$color-background-dark: #08315c;
$color-light: rgb(214 240 255);

$color-error: #E05252;
$color-success: #1FAD66;

$width-desktop: 1240px;
$width-tablet: 768px;
$width-mobile: 414px;
$width-mobile-small: 320px;
